# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

*.swp
.DS_Store
Thumbs.db
.gradle
build
out
.vscode/*
!.vscode/extensions.json
patch.diff

### WebStorm(IntelliJ) ###
.idea/
*.iml
.checkstyle
.classpath
.project
.settings/
bin/
classes/
